<h1>Hello this is register page</h1>
<form action="" method="post">
	<!-- Please do not change id and name attribute of the input  -->
	<label for="username">Username</label>
	<input type="text" id="username" name="username" />

	<label for="email">Email</label>
	<input type="text" id="email" name="email" />

	<label for="password">Password</label>
	<input type="password" id="password" name="password" />

	<label for="password2">Retype password</label>
	<input type="password" id="password2" name="password2" />

	<label for="fullname">Full name</label>
	<input type="text" id="fullname" name="fullname" />

	<label for="dob">DoB</label>
	<input type="date" id="dob" name="dob" />
</form>
