.navbar-nav .nav-link {
    font-size: 1.2rem;
}

.nav-link {
    padding: 0.5rem 0.8rem;
}

.nav.justify-content-start {
    overflow-x: auto;
    white-space: nowrap;
}

body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content-wrapper {
    padding-left: 103px;
    padding-right: 103px;
}

main {
    display: flex;
    margin-top: 10px;
    flex: 1;
}

footer {
    border: none;
    border-radius: 0;
    height: auto;
    margin-top: auto;
    width: 100%;
}

.footer-link {
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #fff !important;
}
