<!-- Hiện danh sách các bài báo đã viết -->
<!-- Thông tin của bài báo gồm: -->
<!-- 1. Title -->
<!-- 2. Chuyên mục -->
<!-- 3. Lần chỉnh sửa cuối -->
<!-- 4. Trạng thái -->
<!-- 5. Người duyệt -->
<!-- Link đến trang edit bài viết -->
<link rel="stylesheet" href="/css/vwWriter/writer.css" />
<div class="container">
	<h1 class="text-capitalize text-center">Your articles</h1>
	<table class="table table-hover article-table">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Cover Image</th>
				<th scope="col">Title</th>
				<th scope="col">Category</th>
				<th scope="col">Last updated</th>
				<th scope="col">Status</th>
				<th scope="col">Editor</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td><img src="https://placehold.co/100x50/000000/FFFFFF/png" alt="" /></td>
				<td>The Future of AI</td>
				<td>AI</td>
				<td>08/12/2024</td>
				<td>Published</td>
				<td>Editor 1</td>
				<td>
					<a href="#"><i class="bi bi-pen"></i> Edit</a>
				</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td><img src="https://placehold.co/100x50/000000/FFFFFF/png" alt="" /></td>
				<td>Staying Fit in the Winter</td>
				<td>Fitness</td>
				<td>08/12/2024</td>
				<td>Published</td>
				<td>Editor 1</td>
				<td>
					<a href="#"><i class="bi bi-pen"></i> Edit</a>
				</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td><img src="https://placehold.co/100x50/000000/FFFFFF/png" alt="" /></td>
				<td>Top Mobile Devices in 2024</td>
				<td>Mobile</td>
				<td>07/12/2024</td>
				<td>Published</td>
				<td>Editor 2</td>
				<td>
					<a href="#"><i class="bi bi-pen"></i> Edit</a>
				</td>
			</tr>
			<tr>
				<th scope="row">4</th>
				<td><img src="https://placehold.co/100x50/000000/FFFFFF/png" alt="" /></td>
				<td>Breaking Down Climate Change</td>
				<td>Environment</td>
				<td>06/12/2024</td>
				<td>Draft</td>
				<td>Editor 3</td>
				<td>
					<a href="#"><i class="bi bi-pen"></i> Edit</a>
				</td>
			</tr>
			<tr>
				<th scope="row">5</th>
				<td><img src="https://placehold.co/100x50/000000/FFFFFF/png" alt="" /></td>
				<td>The Rise of Electric Vehicles</td>
				<td>Automotive</td>
				<td>05/12/2024</td>
				<td>Published</td>
				<td>Editor 4</td>
				<td>
					<a href="#"><i class="bi bi-pen"></i> Edit</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
