<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin Layout</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
			integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
		<link rel="stylesheet" href="/css/layouts/admin.main.css" />
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow">
				<a class="navbar-brand" href="#">L O G O</a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<!-- Home -->
						<% if (user.user_role === 'writer') { %>
						<li class="nav-item active">
							<a class="nav-link" href="<%= user.user_role === 'writer' ? '/writer' : '' %>"> Home <span class="sr-only">(current)</span> </a>
						</li>
						<% } %>
						<!-- New Article -->
						<% if (user.user_role === 'writer') { %>
						<li class="nav-item">
							<a class="nav-link" href="/writer/new">New Article</a>
						</li>
						<% } %>
					</ul>
				</div>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"> <%= user.full_name %> </a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="/logout">Logout</a>
						</div>
					</li>
				</ul>
			</nav>
			<% if(user.user_role === 'admin') { %>
			<button id="sidebarOpen" class="btn btn-dark m-3">
				<i class="bi bi-list"></i>
			</button>
			<% } %>
		</header>
		<% if (user.user_role == 'admin') { %>
		<main class="w-100 pl-xl-5 pr-xl-5">
			<!-- Main content -->
			<style>
				#sidebar {
					width: 250px;
					height: 100vh;
					position: fixed;
					top: 0;
					left: -250px;
					transition: left 0.3s ease;
					z-index: 1050;
				}

				#sidebar.active {
					left: 0;
				}

				#sidebar .nav-link:hover {
					background-color: #d1d1d1;
				}

				#content {
					margin-left: 0;
					transition: margin-left 0.3s ease;
				}

				#sidebar.active ~ #content {
					margin-left: 250px;
				}
			</style>

			<!-- Sidebar -->
			<div id="sidebar" class="bg-light shadow">
				<button id="sidebarClose" class="btn btn-dark m-3">
					<i class="bi bi-arrow-left-square"></i>
				</button>
				<div class="p-3">
					<h4 class="text-center">Admin Panel</h4>
					<hr />
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="/admin" class="nav-link"> <i class="bi bi-newspaper"></i> Articles </a>
						</li>
						<li class="nav-item">
							<a href="/admin/tags" class="nav-link"> <i class="bi bi-tags me-2"></i> Tags </a>
						</li>
						<li class="nav-item">
							<a href="/admin/categories" class="nav-link"> <i class="bi bi-grid me-2"></i> Categories </a>
						</li>
						<li class="nav-item">
							<a href="/admin/writers" class="nav-link"> <i class="bi bi-pencil me-2"></i> Writers </a>
						</li>
						<li class="nav-item">
							<a href="/admin/editor" class="nav-link"> <i class="bi bi-person-badge me-2"></i> Editors </a>
						</li>
						<li class="nav-item">
							<a href="/admin/reader" class="nav-link"> <i class="bi bi-people me-2"></i> Readers </a>
						</li>
					</ul>
				</div>
			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function () {
					const sidebarOpen = document.getElementById("sidebarOpen");
					const sidebar = document.getElementById("sidebar");

					sidebarOpen.addEventListener("click", function () {
						sidebar.classList.toggle("active");
					});
					const sidebarClose = document.getElementById("sidebarClose");

					sidebarClose.addEventListener("click", function () {
						sidebar.classList.toggle("active");
					});
				});
			</script>
			<!-- Main Content -->
			<%- body %>
		</main>
		<% } else { %>
		<main class="container">
			<!-- Main content -->
			<%- body %>
		</main>
		<% } %>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<!-- Popper.js -->
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<!-- Bootstrap JS -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
	</body>
</html>
